services:
  app:
    build: .
    ports:
      - 8000:8000
    volumes:
      - ./storage:/app/storage
      - ./cache.db:/app/cache.db
    entrypoint: ["uv", "run", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    restart: unless-stopped
